name: Testes Automatizados

on: [push]

jobs:
  testes:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout do código
      uses: actions/checkout@v2

    - name: Configurar ambiente Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x
        
    - name: Instalar dependências
      run: pip install -r dev-requirements.txt
      
    - name: Executar testes
      run: pytest
